url: https://raw.githubusercontent.com/mrdannyclark82/milla-deer/3f523dc8ae9b0c1910656e3c5ebf6d70e97433f8/.editorconfig

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
